body {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
  display: inline;
  vertical-align: baseline;
}

nav {
  position: fixed;
  margin-left: 73px;
  outline: 1px solid rgb(15, 19, 154);
}

.navigation li:nth-child(1),
.navigation li:nth-child(2), {
  float: left;
}

.navigation li:nth-child(3),
.navigation li:nth-child(4), {
  float: right;
}

.navigation li {
  width: 20%;
  min-height: 56px;
}

nav > img {
  position: absolute;
}
